{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>My web site</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <div class="container">
        <h1>Hello, {{ prenom }} welcome to my website</h1>
        <h2>Aujourd'hui nous somme le {{ date|date:"d F Y" }}</h2>
        <h3>Il est actuellement {{ date|date:"H\hi" }}</h3>
    </div>

    <div class="text">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab, at autem corporis dicta distinctio inventore
            iste pariatur perferendis recusandae sunt! A at beatae dicta dolorum, magni nostrum quas saepe sit.</p>

        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab, at autem corporis dicta distinctio inventore
            iste pariatur perferendis recusandae sunt! A at beatae dicta dolorum, magni nostrum quas saepe sit.</p>

        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab, at autem corporis dicta distinctio inventore
            iste pariatur perferendis recusandae sunt! A at beatae dicta dolorum, magni nostrum quas saepe sit.</p>
    </div>
</body>
</html>